In [2]:
import os
import pandas as pd
import numpy as np
import json
from pprint import pprint
#import sys
#print(sys.version)

json_path = os.path.join('Resources/purchase_data.json')
with open(json_path) as json_data:
    data=json.load(json_data)
    json_data.close()
    #pprint(data)

In [3]:
game_data=pd.DataFrame(data)
game_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [ ]:
#PLAYER COUNT

In [4]:
#Total number of players
players=game_data["SN"].value_counts()
total_players=len(players)
total_players

    #long code practice
# player_ids_unique=[]
# for i in game_data["SN"]:
#     if i not in player_ids_unique:
#         player_ids_unique.append(i)
# number_of_players=len(player_ids_unique)
# print(number_of_players)

573

In [5]:
tot_players=pd.DataFrame({"Total Players":[total_players]})
tot_players

   Total Players
0            573

In [6]:
#PURCHASING ANALYSIS (TOTAL)

In [7]:
## Number of Unique Items

# unique_items=[]
# for i in game_data["Item ID"]:
#     if i not in unique_items:
#         unique_items.append(i)
# number_of_unique_items=len(unique_items)
# print(number_of_unique_items)

unique_items=game_data["Item ID"].value_counts()
number_of_unique_items=len(unique_items)
number_of_unique_items

183

In [8]:
# Average Purchase Price
avg_purchase_price=round(game_data["Price"].mean(),2)
avg_purchase_price

2.93

In [9]:
# Total Number of Purchases
total_purchases=len(game_data)
total_purchases

780

In [10]:
# Total Revenue
total_revenue=game_data["Price"].sum()
total_revenue

2286.33

In [45]:
purchasing_analysis_total=pd.DataFrame({"Number of Unique Items":[number_of_unique_items],"Average Price":[avg_purchase_price],"Number of Purchases":[total_purchases],"Total Revenue":[total_revenue]})
purchasing_analysis_total[["Number of Unique Items","Number of Purchases","Average Price","Total Revenue"]]
purchasing_analysis_total["Average Price"]=purchasing_analysis_total["Average Price"].map("${:.2f}".format)
purchasing_analysis_total["Total Revenue"]=purchasing_analysis_total["Total Revenue"].map("${:.2f}".format)

#how do you do two formats per column ($ and , together?)
purchasing_analysis_total[["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"]]

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $2.93                  780      $2286.33

In [12]:
#GENDER DEMOGRAPHICS

In [13]:
# Percentage and Count of Male Players
#Male count
males_only_dataframe=game_data.loc[game_data["Gender"]=="Male"]
unique_males=males_only_dataframe["SN"].value_counts()
unique_males_count=len(unique_males)
unique_males_count
#Male percentage
male_percentage=round((unique_males_count/total_players)*100,2)
male_percentage

81.15

In [14]:
# Percentage and Count of Female Players
#female count
females_only_dataframe=game_data.loc[game_data["Gender"]=="Female"]
unique_females=females_only_dataframe["SN"].value_counts()
unique_females_count=len(unique_females)
unique_females_count
#female percentage
female_percentage=round((unique_females_count/total_players)*100,2)
female_percentage

17.45

In [15]:
# Percentage and Count of Other / Non-Disclosed
#count of other/non-disclosed
m_o_dataframe=game_data.loc[game_data["Gender"]!="Female"]
other_dataframe=m_o_dataframe.loc[m_o_dataframe["Gender"]!="Male"]
other_dataframe

other_nd_count=total_players-(unique_males_count+unique_females_count)
other_nd_count
#Percentage other/non-disclosed
percentage_other_nd=round((other_nd_count/total_players)*100,2)
percentage_other_nd

1.4

In [16]:
gender_demo_df=pd.DataFrame({"Player Count":[unique_males_count,unique_females_count,other_nd_count],"Percentage Purchase":[male_percentage,female_percentage,percentage_other_nd]})
gender_demo_df.index=["Male","Female","Other"]
gender_demo_df=gender_demo_df[["Player Count","Percentage Purchase"]]
gender_demo_df["Percentage Purchase"]=gender_demo_df["Percentage Purchase"].map("%{:.2f}".format)
gender_demo_df

        Player Count Percentage Purchase
Male             465              %81.15
Female           100              %17.45
Other              8               %1.40

In [17]:
#PURCHASING ANALYSIS(BY GENDER)

In [18]:
# Purchase Count by Gender
#Male purchase count
male_purchases=len(males_only_dataframe)
male_purchases

#Female purchase count
female_purchases=len(females_only_dataframe)
female_purchases

#other purchase count
other_purchases=len(other_dataframe)
other_purchases

11

In [19]:
# Average Purchase Price by Gender
#average male purchase price
avg_male_price=round(males_only_dataframe["Price"].sum()/male_purchases,2)
avg_male_price
#average female purchase price
avg_female_price=round(females_only_dataframe["Price"].sum()/female_purchases,2)
avg_female_price

#average other purchase price
avg_other_price=round(other_dataframe["Price"].sum()/other_purchases,2)
avg_other_price

3.25

In [20]:
# Total Purchase Value by Gender
#male
total_m_value=round(males_only_dataframe["Price"].sum(),2)
total_m_value

#female
total_f_value=round(females_only_dataframe["Price"].sum(),2)
total_f_value

#other
total_o_value=round(other_dataframe["Price"].sum(),2)
total_o_value

35.74

In [21]:
# Normalized Totals by Gender
totals=[total_m_value,total_f_value,total_o_value]
totals_dataframe=pd.DataFrame(totals)
totals_dataframe.head()

totals_dataframe[0].mean()
totals_dataframe[0].std()
#Male
#Female

973.0598752903134

In [22]:
gendered_purch_analysis=pd.DataFrame({"Gender":["Male","Female","Other/Non-Disclosed"],"Purchase Count":[male_purchases,female_purchases,other_purchases],
                                     "Average Purchase Price":[avg_male_price,avg_female_price,avg_other_price],
                                     "Total Purchase Value":[total_m_value,total_f_value,total_o_value]
                                    
                                    })
gendered_purch_analysis=gendered_purch_analysis[["Gender","Purchase Count","Average Purchase Price","Total Purchase Value"]]


#gendered_purch_analysis

In [23]:

unique_counts=[unique_males_count,unique_females_count,other_nd_count]
normal=((gendered_purch_analysis["Total Purchase Value"])/(unique_counts))


gendered_purch_analysis["Normalized Totals"]=normal

gendered_purch_analysis["Average Purchase Price"]=gendered_purch_analysis["Average Purchase Price"].map("${:.2f}".format)
gendered_purch_analysis["Total Purchase Value"]=gendered_purch_analysis["Total Purchase Value"].map("${:.2f}".format)
gendered_purch_analysis["Normalized Totals"]=gendered_purch_analysis["Normalized Totals"].map("${:.2f}".format)

gendered_purch_analysis.head()

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
0,Male,633,$2.95,$1867.68,$4.02
1,Female,136,$2.82,$382.91,$3.83
2,Other/Non-Disclosed,11,$3.25,$35.74,$4.47

In [24]:
##AGE DEMOGRAPHICS

In [25]:
bins=[0,9,14,19,24,29,34,39,44,49] #bin's boolean is by default right==True which means intervals are (a,b],(b,c],(c,d] and si on
group_names=["<10","10-14","15-19","20-24",
            "25-29","30-34","35-39","40-44","44+"
            ]
game_data["Player Age Group"]=pd.cut(game_data["Age"],bins,labels=group_names)
game_data.head()

,Age,Gender,Item ID,Item Name,Price,SN,Player Age Group
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24

In [51]:
game_data_grouped=game_data.groupby("Player Age Group")

purch_count_age=game_data_grouped[["Item ID"]].count()

purch_count_age=purch_count_age.rename(columns={"Item ID":"Purchase Count"})

In [27]:
#Average Purchase Price


avg_purch_price=game_data_grouped[["Price"]].mean()


purch_count_age["Average Purchase Price"]=round(avg_purch_price,2)
purch_count_age_df=pd.DataFrame(purch_count_age)

In [28]:
#Total Purchase Value
total_purch_val=game_data_grouped[["Price"]].sum()


purch_count_age_df["Total Purchase Value"]=total_purch_val

In [29]:
organized_table=purch_count_age_df[["Purchase Count","Average Purchase Price","Total Purchase Value"]]

organized_table.head()

                  Purchase Count  Average Purchase Price  Total Purchase Value
Player Age Group
<10                           28                    2.98                 83.46
10-14                         35                    2.77                 96.95
15-19                        133                    2.91                386.42
20-24                        336                    2.91                978.77
25-29                        125                    2.96                370.33

In [91]:



#unique players in age group
# uniques=game_data.groupby(["SN","Player Age Group"])["Player Age Group"].agg(['count'])
# uniques


#tried the above and the following to get the unique player count from each age group, I get close but
#cannot get the actual wanted way to report
#once the unique number of players from each age group is down:
#normalized values for the above table are easy to evaluae: Total Purchase Value/Unique players from each age group
x=game_data_grouped["SN"].value_counts()
x

#Normalized Totals
#unique players in each age group
#percent player in each age group

Player Age Group  SN
<10               Lisistaya47       3
                  Eosurdru76        2
                  Iladarla40        2
                  Ingatcil75        2
                  Lassjask63        2
                  Liri91            2
                  Lisirra55         2
                  Yarithsurgue62    2
                  Eullydru35        1
                  Frichjaskan98     1
                  Heosurnuru52      1
                  Ilophos58         1
                  Jiskosiala43      1
                  Reulae52          1
                  Saralp86          1
                  Silinu63          1
                  Sundastnya66      1
                  Tyaenasti87       1
                  Undjasksya56      1
10-14             Qarwen67          4
                  Lirtosia72        3
                  Chanosiast43      2
                  Deural48          2
                  Eoralphos86       2
                  Ethrusuard41      2
                  Lirtossa78        2
                  Sondossa55        2
                  Streural92        2
                  Aeral97           1
                  Aillycal84        1
                                   ..
35-39             Seosri62          2
                  Tyisriphos58      2
                  Airal46           1
                  Chanassa48        1
                  Cosadar58         1
                  Filon68           1
                  Filrion59         1
                  Hala31            1
                  Inguard95         1
                  Iskistasda86      1
                  Isri59            1
                  Lirtossan50       1
                  Phyali88          1
                  Ralasti48         1
                  Saena74           1
                  Tridaira71        1
                  Wailin72          1
                  Yaristi64         1
                  Yasrisu92         1
40-44             Yasriphos60       3
                  Chanosiaya39      2
                  Indcil77          2
                  Sundast29         2
                  Yaralnura48       2
                  Chamadar27        1
                  Lisista27         1
                  Raesurdil91       1
                  Saelollop56       1
                  Yarmol79          1
44+               Marassaya49       1
Name: SN, Length: 573, dtype: int64

In [ ]:
##TOP SPENDERS:
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value

In [31]:


top_spenders=game_data.groupby('SN')['Price'].agg(['sum','count']).sort_values('sum',ascending=False)
top_spenders=top_spenders.rename(columns={"sum":"Total Purchase Value","count":"Purchase Count"})

top_spenders_df=pd.DataFrame(top_spenders)
avg_purch_val=round(top_spenders_df["Total Purchase Value"]/top_spenders_df["Purchase Count"],2)
top_spenders_df["Average Purchase Price"]=avg_purch_val


reordered_table=top_spenders_df[["Purchase Count","Average Purchase Price","Total Purchase Value"]]

reordered_table["Average Purchase Price"]=reordered_table['Average Purchase Price'].map("${:.2f}".format)
reordered_table["Total Purchase Value"]=reordered_table['Total Purchase Value'].map("${:.2f}".format)

reordered_table.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Undirrala66               5                  $3.41               $17.06
Saedue76                  4                  $3.39               $13.56
Mindimnya67               4                  $3.18               $12.74
Haellysu29                3                  $4.24               $12.73
Eoda93                    3                  $3.86               $11.58

In [ ]:
##MOST POPULAR ITEMS:
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

In [41]:

popular_items=game_data.groupby(['Item ID','Item Name','Price'])['Price'].agg(['sum','count']).sort_values('count',ascending=False)

popular_items_df=pd.DataFrame(popular_items)

popular_items_df_renamed=popular_items_df.rename(columns={"Price":"Item Price","count":"Purchase Count","Price":"Item Price","sum":"Total Purchase Value"})
popular_items_df_renamed[["Purchase Count","Total Purchase Value"]]


#price column is an index column, couldn't reset it so that I could format...
#popular_items_df_renamed['Price']=popular_items_df_renamed['Price'].map('${:.2}'.format)

popular_items_df_renamed.head(5)

,,,Total Purchase Value,Purchase Count
Item ID,Item Name,Price,,
39,"Betrayal, Whisper of Grieving Widows",2.35,25.85,11
84,Arcane Gem,2.23,24.53,11
31,Trickster,2.07,18.63,9
175,Woeful Adamantite Claymore,1.24,11.16,9
13,Serenity,1.49,13.41,9

In [ ]:
##MOST PROFITABLE ITEMS

# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

In [33]:

profitable_items=game_data.groupby(['Item ID','Item Name','Price'])['Price'].agg(['sum','count']).sort_values('sum',ascending=False)

profitable_items_df=pd.DataFrame(profitable_items)

profitable_items_df_renamed=profitable_items_df.rename(columns={"Price":"Item Price","count":"Purchase Count","Price":"Item Price","sum":"Total Purchase Value"})
profitable_items_df_renamed[["Purchase Count","Total Purchase Value"]]

# profitable_items_df_renamed['Price']=profitable_items_df_renamed.reset_index
profitable_items_df_renamed.head(5)

                                          Total Purchase Value  Purchase Count
Item ID Item Name                  Price
34      Retribution Axe            4.14                  37.26               9
115     Spectral Diamond Doomblade 4.25                  29.75               7
32      Orenmir                    4.95                  29.70               6
103     Singed Scalpel             4.87                  29.22               6
107     Splitter, Foe Of Subtlety  3.61                  28.88               8